p Välkommen till hemsidan som gör din vardag både enklare och roligare. Med vår hemsida är det enkelt att hålla ordning och reda på din inköpslista så att du inte glömmer något viktigt:)
br
hr
br
  a href="/grocerylist" class="btn" Gör din inköpslista här!🛒
  br
  br
  hr
  br
  h3 Exempel på hur din inköpslista kan se ut: 



